<!-- <div class="row mt-4">
  <div class="col-lg-12 mb-lg-0 mb-4">
    <div class="card z-index-2 h-100">
      <div class="card-header pb-0 pt-3 bg-transparent">
        <h6 class="text-capitalize">Dashboard</h6>
        <p class="text-sm mb-0">
        
        </p>
        <div style="min-height: 300px;">
              
        </div>
        
      </div>
      <div class="card-body p-3"></div>
    </div>
  </div>
</div> -->
<app-content>
  <div class="row mt-4">
    <div class="col-lg-5 mb-lg-0 mb-4">
      <div class="row mx-auto">
        <div class="col-lg-6 text-start">
          <span class="text-white p-0">Summary</span>
        </div>
        <div class="col-lg-6 text-end">
          <a href="javascript:;" class="nav-link text-white p-0">More >></a>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <div class="card-body"></div>
        <table
          class="table table-borderless table-dark table-responsive text-center"
        >
          <thead>
            <tr>
              <th>Product</th>
              <th>Price Sell</th>
              <th>Unit</th>
              <th>Price Buy</th>
              <th>Unit</th>
              <th>Net</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>96.50%</td>
              <td>2,800.00</td>
              <td>1,430.00</td>
              <td>2,800.00</td>
              <td>895.00</td>
              <td>-800.00</td>
            </tr>
            <tr>
              <td>99.99%</td>
              <td>2,800.00</td>
              <td>1,430.00</td>
              <td>2,800.00</td>
              <td>895.00</td>
              <td>355.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="row mx-auto">
        <div class="col-lg-6 text-start">
          <span class="text-white p-0">Outstanding</span>
        </div>
        <div class="col-lg-6 text-end">
          <a href="javascript:;" class="nav-link text-white p-0">More >></a>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <div class="card-body"></div>
        <table
          class="table table-borderless table-dark table-responsive text-center"
        >
          <thead>
            <tr>
              <th>Product</th>
              <th>Price Sell</th>
              <th>Unit</th>
              <th>Price Buy</th>
              <th>Unit</th>
              <th>Net</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>96.50%</td>
              <td>2,800.00</td>
              <td>1,430.00</td>
              <td>2,800.00</td>
              <td>895.00</td>
              <td>-800.00</td>
            </tr>
            <tr>
              <td>99.99%</td>
              <td>2,800.00</td>
              <td>1,430.00</td>
              <td>2,800.00</td>
              <td>895.00</td>
              <td>355.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="row mx-auto">&nbsp;</div>
      <div class="mb-lg-0 mb-4">
        <div class="card">
          <div class="card-header pb-0 p-3">
            <div class="text-center">
              <h3 class="mb-2">Create Special Price</h3>
            </div>
          </div>
          <hr class="horizontal dark mt-0" />
          <div class="card-body p-0 min-height-100"></div>
        </div>
      </div>
    </div>
  </div>
</app-content>
